@using API_CRUD.Views.Shared.Components.SearchBar
@model SPager

<div class="col-4 p-0 justify-content-end">
    <form asp-controller= "@Model.Controller" asp-action="@Model.Action">
        <span class="btn-group">
            <input class="form-control" type="text" name="Pesquisa"
                            value= "@Model.SearchText" placeholder="Pesquisar Nome">
            <input class="p-1 ml-2 btn btn-sm btn-primary" type="submit" value="Pesquisar"/>
        </span>
    </form>
</div>



